.gridContainer,
.gridContainerPlayer {
  width: 20rem;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  z-index: 1000;
}

.gridContainerPlayer {
  pointer-events: none;
}

.gridItem {
  border: 1px solid #000;
}

.missed {
  background: coral;
}

.gridItemBoat {
  background: #222;
}

.hit {
  background: springgreen !important;
}

.missed,
.hit{
  pointer-events: none;
}

.shipbox {
  background-color: blue;
  width: 31px;
  height: 31px;
}

:global(.hovered) {
  background-color: red;
}

:global(.ship) {
  background: #222;
  pointer-events: none;
}
