.app {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 60rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  transform: translate(-50%, -50%);
}

.modalOutter {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.modal h2 {
  flex-basis: 100%;
  align-self: center;
}

.modal > div {
  flex-basis: auto;
}

.modal button {
  max-width: 9.5rem;
  flex-basis: 100%;
}
