.app {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 5rem);
}

.modalOutter {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.modal {
  width: 35rem;
  height: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.modal h2 {
  flex-basis: 100%;
  align-self: center;
}

.modal > div {
  flex-basis: auto;
}

.modal button {
  max-width: 9.5rem;
  flex-basis: 100%;
}
